{% extends "template/secondaryLayout.html.twig" %}

{% block content %}
    <form action="{{ route.urlFor('post.store') }}" method="post" enctype="multipart/form-data" class="form">

        <div class="message_success">{{ flash.get('success', 'register') }}</div>

        <label for="photo" class="label img_container">
            <img id="form-photo-preview" src="{{ helper.storage('images/default-image.png') }}" alt="person">
        </label>
        <input type="file" name="photo" id="photo" class="hidden">

        <div class="message_error">{{ flash.get('error', 'photo') }}</div>

        <label for="description" class="mt-20">Descrição</label>
        <textarea name="description" cols="30" rows="10" placeholder="Enter description..."
            class="textarea"></textarea>
        
        <div class="message_error">{{ flash.get('error', 'description') }}</div>
        
        <button type="submit" class="button_submit mt-20 mb-5">Cadastrar</button>
        <a href="{{ route.urlFor('post.posts') }}" class="btn primary">Voltar</a>

    </form>
{% endblock content %}

{% block script %}
    <script src="{{ helper.assets('js/changePhoto.js') }}"></script>
{% endblock script %}
