{% extends "template/secondaryLayout.html.twig" %}

{% block content %}
    <form action="{{ route.urlFor('post.update') }}" method="post" enctype="multipart/form-data" class="form">

        <div class="message_error">{{ flash.get('error', 'update') }}</div>
        <div class="message_success">{{ flash.get('success', 'update') }}</div>

        <input type="hidden" name="id" value="{{ post.id ?? '0' }}">
        <input type="hidden" name="_METHOD" value="PUT"/>

        <label for="photo" class="label img_container">
            <img id="form-photo-preview"
                src="{{ helper.storage("images/#{post.photo ?? 'default-image.png'}") }}" alt="person">
        </label>
        <input type="file" name="photo" id="photo" class="hidden">

        <div class="message_error">{{ flash.get('error', 'photo') }}</div>

        <label for="description" class="mt-20">Descrição</label>
        <textarea name="description" cols="30" rows="10" placeholder="Enter description..."
            class="textarea">{{ post.description ?? null }}</textarea>
        
        <div class="message_error">{{ flash.get('error', 'description') }}</div>

        <button type="submit" class="button_submit mt-20 mb-5">Atualizar</button>
        <a href="{{ route.urlFor('post.show', {'post': post.id ?? '0'}) }}" class="btn primary">Voltar</a>

    </form>
{% endblock content %}

{% block script %}
    <script src="{{ helper.assets('js/changePhoto.js') }}"></script>
{% endblock script %}