<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ helper.assets('css/reset.css') }}">
    <link rel="stylesheet" href="{{ helper.assets('css/colors.css') }}">
    <link rel="stylesheet" href="{{ helper.assets('css/main.css') }}">
    <title>RGB Fast</title>
</head>
<body>
    <header class="main_header">
        <img src="{{ helper.assets('images/logo.png') }}" alt="site logo">
        <div>
            <div class="main_header_contact">
                <img src="{{ helper.assets('images/phone.png') }}" alt="phone icon">
                <span>00</span>0000-0000
            </div>

            <nav class="main_header_nav">
                <a href="javascript:" id="hide_menu">x</a>
                {% for details in pages_details %}
                    <a href="{{ route.urlFor('web.home.arg', {'page': details['page']}) }}"
                        class="main_header_nav_item" {{ details['current'] ? 'highlight' : null }}>Página <span>{{ details['page'] }}</span></a>
                {% endfor %}
            </nav>
            
            <a href="javascript:" id="show_menu">
                <img src="{{ helper.assets('images/outline_menu_black_24dp.png') }}" alt="">
            </a>
        </div>
    </header>

    <main class="main_content">
        {% block content %}{% endblock content %}
    </main>

    <footer class="main_footer">
        
        <div class="main_footer_copyright">
            Todos os diretos reservados - &copy; 2012
        </div>

        <div class="main_footer_logo">
            <span>Linha Fast</span>
            <img src="{{ helper.assets('images/logo-small.png') }}" alt="logo">
        </div>

    </footer>

    <script src="{{ helper.assets('js/script.js') }}"></script>
</body>
</html>